@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @using (Html.BeginForm("NewGame", "Game"))
        {
            <button>New Game</button>
        }
    </div>
